@import "../../../../scss/index.scss";


.topic {
    display: flex;
    flex-direction: column;
    &-title {
        display: flex;
        justify-content:center;
    }
    h4 { 
        color: white;
    }
}

.topics {
    color: $font_light;
    display: flex;
    justify-content: flex-start;
    border-radius:10px;
    width: 340px;
    margin-bottom: 40px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $background-dark-light;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  
    
    ul {
        list-style-type:none;
        }

    li {
        margin-top:10px;
        Tag {
            width: 200px;
        }
    }
    
    .ant-tag {
        display: flex;
        justify-content:center;
        align-items:center;
        font-size:15px;
        height:35px;

        &:hover {
            background-color: rgba(104, 187, 255, 0.884);
            cursor: pointer;
        }
    }

}