@import '../../../scss/index.scss';

.menu-top {
    display: flex;

    button {
        color: $font-light;

        &:hover {
            color: $primary-color;
        }
        &:focus,&:active {
            color: $font-light;
        }
    }

    &-left {
        &-logo {
            padding: 0 10px;
        }
    }
    &-right {
        position: absolute;
        right: 0;
    }
}