@import "../../../scss/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Playfair+Display:ital@1&display=swap');

.main-banner {
  position: relative;
  height: 580px;
  background-image: url("../../../assets/sdSHp2akMYc4EoZAoRE77k-1200-80.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.65;
  }

  .ant-col-lg-16 {
    padding-left: 35px;
  }

  .ant-row {
    display: flex;
    align-items: center;
    height: 100%;

    h2 {
      color: $primary_color_light;
      font-size: 60px;
      font-weight: bold;
      line-height: 1;
      font-family: 'Koulen', cursive;
      font-family: 'Playfair Display', serif;
    }

    h3 {
      color: #fff;
      font-size: 24px;
    }
    
    p {
        color: #fff;
        font-style: italic;
        font-size: 18px;
    }
  }
}