@import "../../../scss/index.scss";

.navbar {
  
  background-color: rgb(30, 27, 36);
  position: sticky;
  top: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  li {
    border: 0 !important;
    margin-left: 90px;
    a {
      color: #fff !important;
      font-weight: bold;

      &:hover {
        color: $primary-color !important;
      }
    }
  }

  &__logo {
    padding: 10px;

    img {
      width: 200px;
    }
  }
}