// Colors

$primary_color:#52b7da;
$primary_color_hover: #007dff;
$menu_color:#2c2c61;
$sucess: #84b84c;
$error: #f00f00;
$primary_color_light: #00e8ff;
$primary_color_dark: #7c9bb1;


// Fonts
$defaultFontSize: 16px;

$font_light: #fff;
$font_grey_light: #e8e8e8;
$font_grey: #808080;
$font_grey_dark: #000;
$font_dark_light: #252527;
$font_dark: #000;

// Borders
$border_light: #fff;
$border_grey_light: #e8e8e8;
$border_grey: #808080;
$border_grey_dark: #000;
$border_dark_light: #252527;
$border_dark: #000;

// Background
$background_light: #fff;
$background_grey_light: #e8e8e8;
$background_grey: #808080;
$background_grey_dark: rgb(46, 39, 39);
$background_dark_light: #252527;
$background_dark: #000;
$background_sucess: #84b84c1f;
$background_error: #ff00001f;
$background-dark-web: #171923;
$background-dark-light-web: #1a2734;

// Responsive Breakpoints down size
$dxs: 413.98px;
$dsm: 573.98px;
$dmd: 767.98px;
$dlg: 991.98px;
$dxl: 1991.98x;

// Respnsive Media Breakpoints up size
$uxs: 320px;
$usm: 576px;
$umd: 768px;
$ulg: 992px;
$uxl: 1200px;