@import '../scss/index.scss';

.layout-admin {
    transition: margin-left 0.2s;
    &-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 65px;
    }

    &-content {
        // Para que el contenido ocupe el 100% sin llegar a realizar el scroll
        max-height: calc(100vh - 65px);
        padding: 90px 25px 25px 25px;
    }

    &-footer {
        padding: 20px;
    }
}